body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #171006;
}

/* Container for Contact Page */
.container {
    padding: 2em;
    margin-top: 12%;
}

.contact-container {
    padding: 2em;
    margin-bottom: 2em;
    background-image: url("{% static 'images/tan-leather.jpg' %}"); /* Replace with the actual image path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    max-width: 1200px;
    color: #171006;
    border-radius: 3px;
}


h1 {
    color: #171006;
    font-family: "Italiana", sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
    text-align: center;
}

.contact-form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #171006;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #171006;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    box-sizing: border-box;
}

.contact-form input:focus {
    border-color: #a9a9a9;
    box-shadow: 0 0 0 3px rgba(169, 169, 169, 0.5);
    outline: none; /* Removes the green default outline */
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form textarea:focus {
    border-color: #a9a9a9;
    box-shadow: 0 0 0 3px rgba(169, 169, 169, 0.5);
    outline: none; /* Removes the green default outline */
}

.contact-form button {
    background-color: #ffffff;
    color: #182d5f;
    font-weight: bolder;
    text-transform: uppercase;
    border: solid 2px #182d5f;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #182d5f;
    color: #fff;
    border: 1px, solid, #fff;
}

/* Office Details and Map Wrapper */
.contact-details-map-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

/* Contact Details Section */
.contact-details {
    flex: 1;
    padding: 2%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3em;
    color: #182d5f;
    padding: 1em;
    border-radius: 3px;
}

.contact-details h3 {
    font-family: "Italiana", sans-serif;
    margin-bottom: 1em;
}

.contact-details p {
    margin-bottom: 1em;
    font-size: 1.1em;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .contact-form input,
    .contact-form textarea {
        font-size: 0.9em;
    }

    .contact-form button {
        font-size: 0.9em;
        padding: 0.8em 1.5em;
    }

    .contact-details-map-wrapper {
        flex-direction: column;
        gap: 1em;
    }
}